.form-submit {
  width: 400px;
  box-shadow: 5px 5px 5px 5px #B4B4B8;
  border-radius: 10%;
  height: 700px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  }

  .form-butt {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  }

  .button-apply {
    margin-left: 130px;
    border-radius: 10px;
    background-color: #373A40;
  border: 1px solid #F2EFE5;
  text-align: center;
  text-decoration: none;
  color: #F2EFE5;
  font-family: "Sedan", "sans-serif";
  font-size: 14px;
  }
