.form-submit {
  width: 400px;
  box-shadow: 5px 5px 5px 5px #B4B4B8;
  border-radius: 10%;
  height: 700px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  }

  .form-butt {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  }
