.form-tour {
  width: 400px;
  box-shadow: 5px 5px 5px 5px #B4B4B8;
  border-radius: 10%;
  height: 350px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  }

  .form-butt {
  width: 200px;
  margin-left: 100px;
  border-radius: 10px;
  background-color: #76ABAE;

  &:hover {
    background-color: #519a95c2;
  }
  }
