<div class="guide-container">

  <div class="photo-container">
 <img src="<%= asset_path("PICT0027.JPG")%>" class="userpic"/>
 </div>

 <div class="mega-wrapper">
 <h4><%= @user.email %></h4>
 <div class="buttons-container">
  <a href="https://www.instagram.com/maat.zine/" class="socials-button">My Instagram Account</a>
  <a href="https://t.me/maatzine" class="socials-button">My Telegram Account</a>
  <a href="https://patreon.com/maat_zine" class="socials-button">My Patreon Account</a>
 </div>
  <%= link_to "become a guide",   apply_path(@user)%>
</div>

</div>
