<div class="guide-container">

  <div class="photo-container">
    <% if @is_guide == "true" %>
  <%= cl_image_tag @guide.photo.key, :class => "userpic" %>
  <% else %>
  <div class="userpic">
  <% end%>
 </div>

 <div class="mega-wrapper">
 <h4><%= @user.email %></h4>
 <div class="tours-container">
posted by me
 </div>

  <div class="tours-container" data-controller="tour-subscription">
<button data-action="click->tour-subscription#show">show feed</button>
<div data-tour-subscription-target="container">
  posted by guides I'm subscribed to
</div>
 </div>
 <% if @is_guide == "true" %>
   <%= link_to "suggest a tour", suggest_path(@user)%>
<% else %>
 <%= link_to "apply for a guide", apply_path(@user)%>
 <% end %>
</div>

</div>
