<div class="show-wrapper">
<div class="gr gr-info">
  <h3> <%=@graveyard.title%> short info</h3>

  <div class="card-info">
    <%=@graveyard.details%>
  </div>

  <div data-controller="graveyard-subscription">
  <h3>Upcoming tours</h3>
  <div class="card-info" data-graveyard-subscription-target="info">
    lala
  </div>
  </div>



  <h3>Pics worth seeing</h3>
  <div class="card-gallery" data-controller="pics">
    <div class="card-pic" data-action="click->pics#enlarge"></div>
    <div class="card-pic" data-action="click->pics#enlarge"></div>
    <div class="card-pic" data-action="click->pics#enlarge"></div>
  </div>
</div>
<div class="gr">
<div class="gr-map"
  data-controller="map"
  data-map-markers-value="<%= @marker.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
</div>
