<%= @tour.title %>
<%= @guide.name %>
<% cl_image_tag @guide.photo.key, input_html: {class: "guide-photo"} %>
<div data-controller="booking">
<button data-action="click->booking#book">book a tour</button>
</div>
