<%= @tour.title %>
<%= @guide.name %>
<%= cl_image_tag @guide.photo.key, :class => "guide-photo-large" %>
<div data-controller="booking">
<button class="book-tour" data-action="click->booking#book">book a tour</button>
</div>
