   <div class="resources-wrapper">
<div class="resources-container">
  <a href="https://www.instagram.com/graveyards_of_london/" class="resources-button">graveyards of london</a>
  <a href="https://t.me/maatzine" class="resources-button">MA'AT telegram</a>
  <a href="https://historicgraves.com/" class="resources-button">historic graves</a>
  <a href="https://www.instagram.com/maat.zine" class="resources-button">MA'AT instagram</a>
  <a href="https://www.instagram.com/thecemeteryclub/" class="resources-button">thecemeteryclub</a>
  <a href="https://www.instagram.com/graveyard_girl_/" class="resources-button">graveyard_girl</a>
  <a href="https://www.instagram.com/graveyard.tourists/" class="resources-button">graveyard.tourists</a>
  <a href="https://www.instagram.com/parlorhaunt/" class="resources-button">parlorhaunt</a>
</div>
   <img src="<%= asset_path("resources.svg")%>" class="resources-photo"/>
</div>
