   <div class="resources-wrapper">
<div class="resources-container">
  <a href="https://www.instagram.com/graveyards_of_london/" class="resources-button">graveyards of london</a>
  <a href="https://www.familysearch.org/search/collection/2026973" class="resources-button">billiongraves index</a>
  <a href="https://historicgraves.com/" class="resources-button">historic graves</a>
  <a href="" class="resources-button">opop</a>
  <a href="" class="resources-button">opop</a>
  <a href="" class="resources-button">opop</a>
  <a href="" class="resources-button">opop</a>
  <a href="" class="resources-button">opop</a>
</div>
   <img src="<%= asset_path("resources.svg")%>" class="resources-photo"/>
</div>
