   <div class="resources-wrapper">
<div class="resources-container">
  <a href="" class="resources-button">opop</a>
  <a href="" class="resources-button">opop</a>
  <a href="" class="resources-button">opop</a>
  <a href="" class="resources-button">opop</a>
  <a href="" class="resources-button">opop</a>
  <a href="" class="resources-button">opop</a>
  <a href="" class="resources-button">opop</a>
  <a href="" class="resources-button">opop</a>
</div>
   <img src="<%= asset_path("resources.svg")%>" class="resources-photo"/>
</div>
