   <div class="resources-wrapper">
<div class="resources-container">
  <a href="https://www.instagram.com/graveyards_of_london/" class="resources-button">graveyards of london</a>
  <a href="https://www.familysearch.org/search/collection/2026973" class="resources-button">billiongraves index</a>
  <a href="https://historicgraves.com/" class="resources-button">historic graves</a>
  <a href="https://www.interment.net/Default.htm" class="resources-button">interment.net</a>
  <a href="https://www.instagram.com/thecemeteryclub/" class="resources-button">thecemeteryclub</a>
  <a href="https://www.instagram.com/graveyard_girl_/" class="resources-button">graveyard_girl</a>
  <a href="https://www.instagram.com/graveyard.tourists/" class="resources-button">graveyard.tourists</a>
  <a href="https://www.instagram.com/parlorhaunt/" class="resources-button">parlorhaunt</a>
</div>
   <img src="<%= asset_path("resources.svg")%>" class="resources-photo"/>
</div>
