<div class="guide-wrapper">
  <% @guides.each do |guide|%>
  <div class="guide" data-controller="guides">
   <img src="<%= asset_path(guide.photo)%>" class="guide-photo" data-action="click->guides#show" id="<%= guide.id %>"/>
   <div class="bio" data-guides-target="bio" >Click the photo to see short info or
    <%= link_to "see full info", guide_path(guide.id), class: "link-btn"%>
   </div>
  </div>
  <% end%>
</div>
