<div class="guide-container">

  <div class="photo-container">
 <img src="<%= asset_path(@guide.photo)%>" class="guide-photo-large"/>
 </div>

 <div class="mega-wrapper">
 <h4><%= @guide.name %></h4>
 <div class="buttons-container">
  <a href="https://www.instagram.com/maat.zine/" class="socials-button">My Instagram Account</a>
  <a href="https://t.me/maatzine" class="socials-button">My Telegram Account</a>
  <a href="https://patreon.com/maat_zine" class="socials-button">My Patreon Account</a>
 </div>
 <div class="guide-info"><%= @guide.bio %></div>

<div data-controller="guide-subscription">
<button data-guide-subscription-target="button" data-action="click->guide-subscription#subscribe">Subscribe</button>
 <div class="messages" data-guide-subscription-target="subscription">
</div>
</div>

</div>

</div>
